*{
    padding:0;
    margin:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
body{
    font-family:'Oswald', sans-serif;
    position:relative
}

/** Inicio da Header Area **/
header{
    padding:2rem 0
}
header .icon-menu{
    color:#513367;
    font-size:40px
}
header .icon-menu:hover{
    opacity:0.5;
    cursor:pointer;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s
}
header img.logo:hover{
    opacity:0.5;
    cursor:pointer;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s
}
header img.logo{
    display:block;
    margin:0 auto
}
header input{
    border-radius:4px;
    border:1px solid black;
    margin-top:10px;
    padding:8px;
    padding-left:40px;
    padding-right:100px;
    position:relative;
    color:silver;
    font-weight:lighter
}
header .bag span{
    margin-left:12px
}
header .bag img{
    width:39px;
    height:42px
}
header button{
    background:none;
    border:none;
    position:absolute;
    top:18px;
    left:30px;
    cursor:pointer
}
header button .icon-magnifier{
    color:#d6391e
}
header .order{
    margin-top:10px
}
header .order h2{
    font-style:italic;
    color:#d6391e;
    font-size:18px;
    font-weight:lighter
}
header .order h2 span{
    font-size:14px
}
/** Fim da Header Area **/

/** Inicio do Nav Area **/

nav{
    background:#513367;
    color:white;
    font-style:italic;
    padding:10px
}
nav ul{
    list-style:none;
    margin:0
}
nav ul li{
    margin-right:1rem;
    padding:10px 14px
}
nav a{
    color:white
}
nav a:hover{
    opacity:0.5;
    cursor:pointer;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
    color:white
}
nav span{
    margin:0 10px;
    opacity:0.4
}
nav .active{
    background:#422a53;
    border-radius:3px
}
nav .icon-arrow-down{
    margin-left:5px;
    margin-bottom:2px
}

/** Fim do Nav Area **/

.potions span{
    font-weight:lighter;
    color:#d6391e
}
.potions img{
    width:60%;
    display:block;
    margin:0 auto
}
.potions img:hover{
    opacity:0.5;
    cursor:pointer;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s
}
.potions .price{
    color:#d6391e;
}
.prod{
    display: block;
    font-family: 'Times New Roman', Times, serif;
}

.title{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.prod .p {
    display: inline;
}
.textContent {
    text-decoration: none;
    list-style-type: none;
}

/* Inicio do Footer Area */

footer{
    background:#e6e6e6;
    padding:2rem 0
}
footer ul{
    list-style:none
}
footer ul li{
    line-height:1
}
footer .links a{
    color:#d6391e;
    font-size:24px
}
footer .links li{
    margin-right:50px
}
footer svg{
    background:#513367;
    border-radius:50% 50%;
    font-size:50px !important;
    padding:20px
}
footer img:hover{
    opacity:0.5;
    cursor:pointer;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s
}
footer .social li{
    margin-right:25px
}
footer input[type="email"],

footer input[type="submit"]{
    width:100%;padding:8px
}
footer input[type="email"]{
    border-radius:4px;
    border:1px solid black;
    font-weight:lighter
}
footer input[type="submit"]{
    background:#d6391e;
    border:none;
    color:white
}
footer input[type="submit"]:hover{
    opacity:0.5;
    cursor:pointer;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s
}
footer form .col-md-8,footer form .col-md-4{
    padding:0 5px
}
footer .copy{
    color:grey;
    margin-top:50px
}

/*Fim do Footer Area */

/* Inicio do Lightbox Area */

.lightbox{
    font-family: 'Times New Roman', Times, serif;
    display:none;
    width:100%;
    height:100vh;
    position:fixed;
    background:rgba(0,0,0,0.8);
    z-index:2
}
.lightbox h2{
    font-size:18px;
    font-weight: bold;
}
.lightbox .content{
    margin-top:50px !important;
    background:white;
    width:50%;
    display:block;
    margin:0 auto;
    padding:2rem;
    position:relative
}
.lightbox .icon-close{
    position:absolute;
    top:10px;
    right:10px
}
.lightbox .icon-close:hover{
    opacity:0.5;
    cursor:pointer;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s
}
.lightbox p{
    font-weight:lighter;
    margin:0
}
.lightbox span{
    color:#d6391e
}
.lightbox button{
    display:block;
    background:#d6391e;
    color:white;
    border:none;
    padding:8px
}
.lightbox button:hover{
    opacity:0.5;
    cursor:pointer;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s
}

/* Fim do Lightbox Area */

/*Inicio do Mobile Area*/

.drop-mobile{
    display:none;
    position:absolute;
    z-index:1;
    top:0;width:100%
}
.drop-mobile ul{
    margin:0
}
.drop-mobile>div{
    padding:1.5rem;
    background:white
}
.drop-mobile>div form{
    position:relative
}
.drop-mobile>div form input{
    border-radius:4px;
    border:1px solid black;
    padding:8px;
    padding-left:30px;
    font-weight:lighter;
    width:100%
}
.drop-mobile>div .icon-close{
    font-size:40px;
    color:#513367
}
.drop-mobile>div .icon-close:hover{
    opacity:0.5;
    cursor:pointer;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s
}
.drop-mobile>div button{
    background:none;
    border:none;
    position:absolute;
    top:10px;
    left:10px;
    cursor:pointer
}
.drop-mobile>div button .icon-magnifier{
    color:#d6391e
}
.drop-mobile ul{
    background:#513367;
    font-style:italic;
    list-style:none;
    font-weight:lighter
}
.drop-mobile ul li{
    border-bottom:1px solid rgba(255,255,255,0.2)
}
.drop-mobile ul a{
    color:white
}
.drop-mobile>ul a{
    color:white;
    padding-left:50px;
    display:block;
    padding-top:8px;
    padding-bottom:8px
}
.drop-mobile>ul a:hover{
    text-decoration:none;
    background:#422a53
}
.drop-mobile>ul .active{
    background:#422a53;
    border-radius:3px
}
@media screen and (max-width: 1206px){
    nav ul li{
        font-size:12px
    }
}
@media screen and (max-width: 768px){
    img.logo{
        margin-top:0 !important
    }
    footer .copy{
        margin:0
    }
    .potions img{
        width:100%
    }
    .potions p,.potions span{
        font-size:10px
    }
}
@media screen and (max-width: 992px){
    header{padding:1rem
    }
    img.logo{
        margin-top:10px !important
    }
    .bag span{
        margin-left:0 !important;
        font-size:10px
    }
    .lightbox .content{
        width:80%
    }
}
@media screen and (max-width: 576px){
    .lightbox .content img{
        width:40% !important
    }
    .lightbox .content button{
        display:block
        ;margin:0 auto
    }
}
@media screen and (max-width: 452px){
    header img.logo{
        width:150px
    }
}
@media screen and (min-width: 452px){
    header .fa-bars,header .bag{
        margin-top:20px
    }
}

/*Fim do Mobile Area*/

